//container animation 3 points
.loader-container{
  position: fixed;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  @include FlexMid;
  z-index: 1;
  top: 0;
  animation-name: loader-fin;
  animation-duration: 2s;
  visibility:hidden;
}
.ContainerAnimation{
  @include desktop-only(){
    display: flex;
  }
}

.Container-menu__img{
  @include Imgs;
  object-position: bottom;
  @include desktop-only(){
      object-position: center;
      height: 300px;
  }
}
//PAGES RESTAUANTS
.SecondContainerMenu{
  background-color: #efefef;
  height: 900px;
  border-radius: 33px 33px 0px 0px;
  margin-top: -51px;
  z-index: 1;
  position: relative;
  @include desktop-only(){
      height: 400px;
  }
}
.ContainerTitre{
  @include DisplayJustify;
  padding-top: 10px;
  .ContainerTitre--menu{
      font-size: 25px;
  }
  
}