.footer{
    background-color: rgb(66, 64, 64);
    color: white;
    padding-top: 15px;
    padding-bottom: 8px;
}

.footer--element{
    margin: 10px;
}

.footer--element--modifier{
    font-family: 'Roboto', sans-serif;
    @include DisplAlign;
    font-size: small;   
}

 a{
    text-decoration: none;
    border: none;
    color: white;
}