.footer{
    background-color: rgb(66, 64, 64);
    color: white;
    padding-top: 15px;
    padding-bottom: 8px;
}

.footer--element{
    margin: 10px;
    & > p{
        font-family: 'Shrikhand', cursive;
        margin-left: 9px;
    }
}

.footer--element--modifier{
    font-family: 'Roboto', sans-serif;
    @include DisplAlign;
    font-size: small;   
    margin-block: -20px;
    margin-left: 10px;
}

 a{
    text-decoration: none;
    border: none;
    color: white;
}
.fin h4{
    font-weight: 300;
}