.fa-location-dot{
    padding-right: 10px;
}

.fa-mobile-screen-button{
    @include fa-;
}

.fa-bars{
    @include fa-;
}

.fa-store{
    @include fa-;
}

.fa-heart{
    margin-right: 25px;
    font-size: 20px;
}
.fa-arrow-left{
    color: black;
}

