.localisation-item {
    width: 100%;
    height: 48px;
    background-color: #f4f1f1;
    border-top: 0.5px solid #a7a1a1;
    margin-top: 65px;
    @include FlexMid;
    &__Paris{
      font-family: "Roboto", sans-serif;
    }
  }

.reservation-item{
    text-align: center;
    width: 100%;
    height: 270px;
    margin: 0;
    background-color: #efefef;
    padding-block: 12px;
}
.boutton-item{
    height: 320px;
  &__block{
    @include desktop-only(){
      display: flex;
      margin: 10px;
      margin-block: 3px;
    }
  }

}
.restaurant-item{
  height: 1144px;
  background-color: #f4f1f1;
  @include desktop-only(){
    position: relative;
    bottom: 95px;
    height: 380px;
  }
}

.box-reservation{
    @include size;
 }
 .cardBlock{
    @include desktop-only(){
        display: flex;
    }
 }
 
 .cardRestaurant{
     background-color: white;
     height: 238px;
     border-radius: 10px;
     @include size;
     box-shadow: 0px 11px 15px rgb(107, 105, 105);
     margin-block: 20px;
     position: relative;
     @include desktop-only(){
        width: 22%;
        &:hover{
            transform: scale(1.1);
        }
     }
 }
 img{
     @include Imgs;
 }
 .Nouveau::after{
    content: "Nouveau";
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: $mint;
    color: #278870;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4862745098);
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    padding: 8px 13px 6px 13px;
}
 .card-lien{
    color: black;
 }
.cardRestaurant__description{
    margin-left: 8px;
    .cardRestaurant__titre{
        @include DisplayJustify;
        @include Margin-Font;
        font-weight: 500;
     }
     .cardRestaurant__description--lieux{
        @include Margin-Font;
        font-weight: 300;
    }
}

.box-sous-titre__soustitre{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
//CARTE
.Titre-Menu{
    margin-inline: 18px;
}
.border{
    border-bottom: solid 2px $mint;
    width: 55px;
}





