

//fin animation
@keyframes loader-fin{
    0%{
        visibility: visible;
    }

    100%{
        visibility: hidden;
    }
}

//animation of 3points
.dot{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background: linear-gradient($color-primary, #9198e5,$color-secondary);
    margin: 0 15px;
    animation-name: loader;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-duration: 0.8s;
}

.d2{
    animation-delay: 0.05s;
}
.d3{
    animation-delay: 0.1s;
}
 
@keyframes loader{
    100%{
        transform: translateY(-30%);
    }   
}


//coeur 

.fa-heart:hover{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(150deg, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    transition: all 0.3s linear 0s;
}

//Item-CARD
@keyframes rotates{
    from{
        transform: rotate(0)
    }
    to{
        transform: rotate(360deg)
    }
}


//Animation CARTE-DEFILEMENT

.A1,.A2,.A3{
    animation-name: Anim;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 0s;
    opacity: 0;
    width: 100%;
    @include desktop-only(){
        width: 34%;
        margin-inline: 10px;
    }
}

.A2{
    animation-delay: 0.5s;
   
}

.A3{
    animation-delay: 1s;
    
}

@keyframes Anim{
    to{
        transform: translateY(-18px);
        opacity: 0;
    }
    100%{
        transform: translateY(18px);
        opacity: 1;

    }
}






