h1 {
    text-align: center;
    font-family: 'Shrikhand', cursive;
    margin: auto;
}
h2{
    @include Typo;
}

h3{
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
}
h4{
    font-size: small;
    padding-left: 10px;
}